@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
.card {
  width: 30vw;
  height: calc(100% - 100px);
  height: -moz-calc(100% - 100px);
  height: -webkit-calc(100% - 100px);
  border-radius: 20px;
  overflow: hidden;
  background-color: transparent;
  transition: all 0.3s ease-in-out;
}

.card:hover {
  box-shadow: 0 0 40px #025026;
}

.card img {
  width: 100%;
  height: 100%;
}

.title {
  margin: 0;
  z-index: 10;
}

.tag {
  color: #f4f6f6;
  margin-right: 10px;
  font-size: 13px;
  margin: 0;
}

.tag h3 {
  border-radius: 20px;
  padding: 2px 5px;
}

.tag:last-child {
  margin-right: 0px;
}

.tag:first-child {
  margin-left: 5px;
}

.card-image {
  position: relative;
  border-radius: 20px;
  overflow: hidden;
}

.tagContainer {
  display: flex;
  position: absolute;
  bottom: 20px;
  z-index: 40;
  left: 10px;
}

.card-image img {
  display: block;
  width: 100%;
}

.card-image .title {
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 100%;
  font-size: 1.2rem;
  text-align: left;
  font-size: 20;
  color: #f4f6f6;
  margin: 0;
}

.image-container {
  position: relative;
  display: inline-block;
}

.image-container::before {
  content: '';
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 0%,
    rgba(0, 0, 0, 0.3) 100%
  );
  border-radius: 20px;
  transform: skewY(0deg) skewX(0deg);
  transform-origin: bottom;
}

.image-container img {
  display: block;
  max-width: 100%;
  height: auto;
  position: relative;
}

