code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html,
body {
  height: 100%;
}

.cardsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  height: 100%;
}

/* Styl dla małych ekranów (telefony) */
@media screen and (max-width: 600px) {
  .cardsContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem; /* Zmniejszone odstępy między kartami dla mniejszych ekranów */
    padding: 1rem; /* Padding, aby dodać trochę przestrzeni na brzegach */
  }
}
