code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html,
body {
  height: 100%;
}

.cardsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  height: 100%;
}
